Package: drManhattan-Profesor
Priority: optional
Section: utils
Maintainer: mpm14@alumnos.unican.es
Architecture: all
Version: 1.1
Depends: 
Provides: drManhattan
Conflicts:
Replaces:
Description: Aplicacion control de accesos
